<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-twilight.min.css"
    />
    <link rel="stylesheet" href="/static/blog_single.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
      async
    ></script>

    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-YTTL61KN8J"
    ></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "G-YTTL61KN8J")
    </script>
    <link rel="manifest" href="/manifest.webmanifest" />
    <title data-react-helmet="true">{{ title }}</title>
    <meta data-react-helmet="true" name="keywords" content="" />
    <meta
      data-react-helmet="true"
      name="description"
      content="A guide to using a custom script to resize and crop images for perfect display on a Samsung Frame TV.
"
    />
    <meta
      data-react-helmet="true"
      name="image"
      content="https://dustindavis.me/static/ed0bae9cf0895a0b08ca479e662b1057/3e561/banner.jpg"
    />
    <meta
      data-react-helmet="true"
      property="og:url"
      content="https://dustindavis.me/blog/samsung-frame-tv-image-script"
    />
    <meta data-react-helmet="true" property="og:type" content="article" />
    <meta
      data-react-helmet="true"
      property="og:title"
      content="Resizing Classic Art for the Samsung Frame TV Without the Mat"
    />
    <meta
      data-react-helmet="true"
      property="og:description"
      content="A guide to using a custom script to resize and crop images for perfect display on a Samsung Frame TV.
"
    />
    <meta
      data-react-helmet="true"
      property="og:image"
      content="https://dustindavis.me/static/ed0bae9cf0895a0b08ca479e662b1057/3e561/banner.jpg"
    />
    <meta data-react-helmet="true" property="fb:app_id" content="" />
    <meta
      data-react-helmet="true"
      name="twitter:card"
      content="summary_large_image"
    />
    <meta
      data-react-helmet="true"
      name="twitter:creator"
      content="@DustinDavis"
    />
    <meta
      data-react-helmet="true"
      name="twitter:title"
      content="Resizing Classic Art for the Samsung Frame TV Without the Mat"
    />
    <meta
      data-react-helmet="true"
      name="twitter:description"
      content="A guide to using a custom script to resize and crop images for perfect display on a Samsung Frame TV.
"
    />
    <meta
      data-react-helmet="true"
      name="twitter:image"
      content="https://dustindavis.me/static/ed0bae9cf0895a0b08ca479e662b1057/3e561/banner.jpg"
    />
    <noscript data-react-helmet="true"
      >This site runs best with JavaScript enabled.</noscript
    >
    <meta name="theme-color" content="#4147DC" />
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="/favicons/android-chrome-192x192.png"
    />
    <link rel="apple-touch-icon" sizes="512x512"
    href="/favicons/android-chrome-512x512.png"/ >
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Dustin Davis Blog RSS Feed"
      href="/blog/rss.xml"
    />
    <link rel="sitemap" type="application/xml" href="/sitemap.xml" />
    <link as="script" rel="preload" href="/styles-344e6af77b7cdc23d68e.js" />
    <link
      as="script"
      rel="preload"
      href="/component---src-templates-post-js-61bebaf6cf1c3bdf3253.js"
    />
    <link
      as="script"
      rel="preload"
      href="/3c7093cb3774dd8929b1d31b0d00a0504f145e9a-51d485410d32204479f9.js"
    />
    <link as="script" rel="preload" href="/app-571f88319ea8b79a51b7.js" />
    <link as="script" rel="preload" href="/framework-80b94713da7da5014707.js" />
    <link
      as="script"
      rel="preload"
      href="/webpack-runtime-2d3f9fa09d0f501a3fab.js"
    />
    <link
      as="fetch"
      rel="preload"
      href="/page-data/blog/samsung-frame-tv-image-script/page-data.json"
      crossorigin="anonymous"
    />
    <link
      as="fetch"
      rel="preload"
      href="/page-data/sq/d/1045846374.json"
      crossorigin="anonymous"
    />
    <link
      as="fetch"
      rel="preload"
      href="/page-data/sq/d/1807880843.json"
      crossorigin="anonymous"
    />
    <link
      as="fetch"
      rel="preload"
      href="/page-data/sq/d/3970664207.json"
      crossorigin="anonymous"
    />
    <link
      as="fetch"
      rel="preload"
      href="/page-data/app-data.json"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <noscript>This site runs best with JavaScript enabled.</noscript>
    <div id="">
      <div style="outline: none" tabindex="-1" id="focus-wrapper">
        <div class="css-18roemd">
          <div class="css-1c3h18e">
            <section class="css-4hsv5r eukkugl0"></section>

            <header class="css-q92rab">
              <div class="css-1xn00s8">
                <nav class="css-sgter1">
                  <a
                    aria-label="go to homepage"
                    class="css-17709wp none"
                    href="/blog"
                    ><img src="/images/dustin-circle.avif" alt="Dustin Davis" />
                    <span>Dustin Davis</span></a
                  >

                  <div class="css-1rqjet3">
                    <div class="mobile-nav">
                      <button aria-label="open menu" class="css-fiyo81">
                        <div class="css-1251ch1"></div>
                      </button>
                    </div>

                    <a
                      aria-label="View blog page"
                      class="ejdwv5k0 css-1iei4j7 active"
                      href="/blog/"
                      >Blog</a
                    >
                    <a
                      aria-label="Tools Dustin Davis uses"
                      class="ejdwv5k0 css-1iei4j7"
                      href="/uses/"
                      >Uses</a
                    >
                    <a
                      aria-label="View about page"
                      class="ejdwv5k0 css-1iei4j7"
                      href="/about/"
                      >About</a
                    >
                  </div>
                </nav>
              </div>
            </header>

            <article class="css-nl2wjm">
              <div class="css-nn9o15">
                <h1 class="blog-title">{{ title }}</h1>
                {% set imagePath = page.inputPath | directoryPath %} {%
                responsiveImage imagePath + '/' + banner, title,
                "blog-banner-image" %} {% if bannerCredit %}
                <div style="text-align: center; margin-top: -2em">
                  {{ bannerCredit | markdown | safe }}
                </div>
                {% endif %} {{ content | safe }}
              </div>
            </article>
            <div class="css-1xn00s8">
              <a
                href="https://github.com/djedi/dustindavis.me/commits/master/content/{{ page.inputPath }}"
              >
                <div title="Last Updated Date" class="css-9obt1">
                  {{ date | date("EEEE, LLLL dd, yyyy") }}
                </div>
              </a>
            </div>
            <div class="css-1xn00s8">
              <script
                defer
                src="https://commento.davis.im/js/commento.js"
              ></script>
              <div id="commento"></div>

              <p class="css-s2uf1z">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://mobile.x.com/search?q=https%3A%2F%2Fdustindavis.me{{ page.url | urlencode }}"
                  >Discuss on X</a
                >

                <span class="css-j6808u"> • </span>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="{{ page.inputPath | githubPath }}"
                  >Edit post on GitHub</a
                >
              </p>
            </div>

            <div class="css-ynubfp">
              <div class="css-g2rqiu">
                <div class="css-6wxcxs"></div>
                <span>Share article</span>
                <button
                  aria-label="Share on X/Twitter"
                  style="
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    font: inherit;
                    color: inherit;
                    cursor: pointer;
                  "
                  onclick="window.open('https://x.com/intent/tweet?url=' + encodeURIComponent(window.location.href) + '&text=' + encodeURIComponent(document.title) + ' via @DustinDavis', '_blank')"
                >
                  X
                </button>

                <button
                  via="DustinDavis"
                  aria-label="facebook"
                  class="css-4g6ai3"
                  style="
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    font: inherit;
                    color: inherit;
                    cursor: pointer;
                  "
                  onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://dustindavis.me{{ page.url }}', '_blank')"
                >
                  Facebook
                </button>
              </div>
              <div style="display: flex; padding-top: 30px">
                <div style="padding-right: 20px">
                  <img
                    src="/images/dustin.avif"
                    alt="Dustin Davis"
                    style="max-width: 80px; border-radius: 50%"
                  />
                </div>
                <p>
                  <strong>Dustin Davis</strong> is a software engineer, people
                  manager, hacker, and entreprenuer. He loves to develop systems
                  and automation. He lives with his wife and five kids in Utah.
                </p>
              </div>
            </div>
          </div>

          {% include "footer.njk" %}
        </div>
      </div>
    </div>
  </body>
</html>
